## 4.1 深入研究字符串

In [ ]:
s = "hello"

In [4]:
s[-1:-3] # 前面的索引位置在后面的索引位置之后，显示为空字符串

''

In [7]:
pets = ["goldfish", "cat", "dog"]
print(type(pets[0:1])) # result为list，即使切片的结果只含一个项，返回的依旧是列表，而不是该项的类型
print(type(pets[0])) # result为str，即使用单个索引时返回的对象类型是该索引位置列表的项的类型

<class 'list'>
<class 'str'>

In [8]:
x = "2,3,5,7,11,13"
x.split()

['2,3,5,7,11,13']

In [10]:
x.split(",")

['2', '3', '5', '7', '11', '13']

In [13]:
table = str.maketrans("abcdef", "uvwxyz")

In [16]:
s = "fad"
print(s.translate(table))
print(s)

zux
fad

In [17]:
# ex 4.2
forecast = "It will be a sunny day today"

In [22]:
count = forecast.count("day")
weather = forecast.index("sunny")
change = forecast.replace("sunny", "cloudy")
print(count, weather, change, sep="\n", end="!")

2
13
It will be a cloudy day today!

## 4.2 格式化输出

In [21]:
# ex 4.3
last = "Smith"
first = "John"
middle = "Paul"
print(last, first, middle, sep="\t")

Smith	John	Paul!

In [25]:
# ex 4.4
def even(n):
    for i in range(1, n):
        if i % 2 == 0 or i % 3 == 0:
            print(i, end=",")
even(17)

2,3,4,6,8,9,10,12,14,15,16,

In [29]:
weekday = "Wednesday"
month = "March"
day = 10
year = 2010
hour = 11
minute = 45
second = 33
print("{}, {} {}, {} at {}:{}:{}".format(weekday, month, day, year, hour, minute, second)) # 注意字符串里的空格也会被输出

Wednesday, March 10, 2010 at 11:45:33

In [30]:
# ex 4.5
first = "John"
last = "Doe"
street = "Main Street"
number = 123
city = "AnyCity"
state = "AS"
zipcode = "09876"
print("{} {}\n{} {}\n{}, {} {}".format(first, last, number, street, city, state, zipcode))

John Doe
123 Main Street
AnyCity, AS 09876

In [38]:
"{0:3},{1:5}".format(12, 354)

' 12,  354'

In [41]:
first = "Bill"
last = "Gates"
print("{:3}{:3}".format(first, last)) # 字段宽度小于字符串长度
print("{:10}{:10}".format(first, last))

BillGates
Bill      Gates

In [45]:
print("{:8.4}".format(10/3))   # 字段宽度为8，只显示4位浮点数值
print("{:8.4}".format(100/3))  # 字段宽度为8，只显示4位浮点数值
print("{:8.4}".format(1000/3)) # 字段宽度为8，只显示4位浮点数值

   3.333
   33.33
   333.3

In [47]:
n = 10
print("{:b}".format(n))
print("{:c}".format(n)) # 对应"\n"，以换行的方式呈现
print("{:d}".format(n))
print("{:o}".format(n))
print("{:x}".format(n))
print("{:X}".format(n))

1010


10
12
a
A

In [49]:
def growthrates(n):
    'prints values of below 3 functions for i = 1, ..., n'
    print(" i  i**2  i**3  2**i")
    formatStr = "{0:2d}{1:6d}{2:6d}{3:6d}"
    for i in range(2, n+1):
        print(formatStr.format(i, i**2, i**3, 2**i))
growthrates(12)

 i  i**2  i**3  2**i
 2     4     8     4
 3     9    27     8
 4    16    64    16
 5    25   125    32
 6    36   216    64
 7    49   343   128
 8    64   512   256
 9    81   729   512
10   100  1000  1024
11   121  1331  2048
12   144  1728  4096

In [53]:
# ex 4.6
def roster(lst:list):
    """
    Get a list which contains the students' information and output an information roster
    """
    formatStr = "{:10}{:10}{:10}{:8.2f}"
    print("Last      First     Class     Average Grade")
    for stu in lst:
        print(formatStr.format(stu[0], stu[1], stu[2], stu[3]))

In [54]:
students = []
students.append(["DeMoines", "Jim", "Sophomore", 3.45])
students.append(["Pierre", "Sophie", "Sophomore", 4.0])
students.append(["Columbus", "Maria", "Senior", 2.5])
students.append(["Phoneix", "River", "Junior", 2.45])
roster(students)

Last      First     Class     Average Grade
DeMoines  Jim       Sophomore     3.45
Pierre    Sophie    Sophomore     4.00
Columbus  Maria     Senior        2.50
Phoneix   River     Junior        2.45

In [1]:
import time

In [4]:
time.time()

1618827927.554612

In [5]:
time.gmtime()

time.struct_time(tm_year=2021, tm_mon=4, tm_mday=19, tm_hour=10, tm_min=26, tm_sec=21, tm_wday=0, tm_yday=109, tm_isdst=0)

In [6]:
time.localtime()

time.struct_time(tm_year=2021, tm_mon=4, tm_mday=19, tm_hour=18, tm_min=28, tm_sec=26, tm_wday=0, tm_yday=109, tm_isdst=0)

In [7]:
time.strftime("%A %b/%d/%y %I:%M %p", time.localtime())

'Monday Apr/19/21 06:31 PM'

In [8]:
# ex 4.7
import time
t = time.localtime(1500000000)

In [11]:
time.strftime("%A %B %d %Y", t)

'Friday July 14 2017'

In [14]:
time.strftime("%H:%M %p on %b/%d/%Y", t)

'10:40 AM on Jul/14/2017'

In [15]:
"I will meet you on " + time.strftime("%a %B %d at %H:%M %p", t)

'I will meet you on Fri July 14 at 10:40 AM'

## 4.3 文件

In [18]:
infile = open("example.txt")

In [19]:
infile

In [20]:
infile.read(1)

'T'

In [21]:
infile.read(5)

'he 3 '

In [22]:
infile.readline()

'lines in this file and with the new line character.\n'

In [23]:
infile.read()

'\nThere is a blank line above this line.'

In [24]:
infile.close()

In [27]:
def numChars(filename):
    "return the number of chars of filename."
    infile = open(filename, "r")
    content = infile.read()
    infile.close()

    return len(content)

In [28]:
numChars("example.txt")

97

In [31]:
# ex 4.8
def stringCount(filename, string):
    "Return the count that the target string appears in filename."
    infile = open("example.txt")
    content = infile.read()
    count = content.count(string)
    infile.close()

    return count

In [32]:
stringCount("example.txt", "line")

4

In [33]:
def numWords(filename):
    "Return the number of words contended in filename."
    infile = open(filename, "r")
    content = infile.read()
    infile.close()

    wordlist = content.split()
    print(wordlist)

    return len(wordlist)

In [34]:
numWords("example.txt")

['The', '3', 'lines', 'in', 'this', 'file', 'and', 'with', 'the', 'new', 'line', 'character.', 'There', 'is', 'a', 'blank', 'line', 'above', 'this', 'line.']

20

In [59]:
# ex 4.9
def words(filename):
    "Return the true words of the filename."
    infile = open(filename, "r")
    content = infile.read()
    punctuation = ["!", ",", ".", ":", ";", "?"]
    for pun in punctuation:
        content = content.replace(pun, " ")
    infile.close()

    wordList = content.split()

    return wordList

In [60]:
words("example.txt")

['The',
 '3',
 'lines',
 'in',
 'this',
 'file',
 'and',
 'with',
 'the',
 'new',
 'line',
 'character',
 'There',
 'is',
 'a',
 'blank',
 'line',
 'above',
 'this',
 'line']

In [44]:
# ex 4.10
def myGrep(filename, string):
    infile = open(filename)
    lineList = infile.readlines()
    for line in lineList:
        if string in line:
            print(line, end="")
        else: 
            pass

In [45]:
myGrep("example.txt", "line")

The 3 lines in this file and with the new line character.
There is a blank line above this line.

In [1]:
outfile = open("test.txt", "w")

In [2]:
outfile.write("T")

1

In [3]:
outfile.write("his is the first line.")

22

In [4]:
outfile.flush()

In [5]:
outfile.write(" Still the first line...\n")

25

In [6]:
outfile.flush()

In [51]:
outfile.write("Now we are in the second line.\n")

31

In [52]:
outfile.write("Non string value like " + str(5) + " must be converted first.\n")

49

In [53]:
outfile.write("Non string value like {} must be converted first.\n".format(5))

49

In [55]:
outfile.close()

In [7]:
s = "abcdefghijklmnopqrstuvwxyz"

In [8]:
# ex 4.12
s[1:4]

'bcd'

In [9]:
s[0:3]

'abc'

In [10]:
s[3:24]

'defghijklmnopqrstuvwx'

In [11]:
s[-4:-1]

'wxy'

In [12]:
s[-4:]

'wxyz'

In [13]:
# ex 4.13
s[1:3] == "bc"

True

In [14]:
# ex 4.14
log = '128.0.0.1 - - [12/Feb/2011:10:31:08 -0600] "GET /docs/test.txt HTTP/1.0"'

In [17]:
stringList = log.split()
address = stringList[0]
address

'128.0.0.1'

In [20]:
leftIndex = log.index("[")
rightIndex = log.index("]")
date = log[leftIndex+1:rightIndex]
date

'12/Feb/2011:10:31:08 -0600'

In [21]:
# ex 4.15
s = "10 - 20 - 30 - 40 - 50 - 60"
s.split(" - ")

['10', '20', '30', '40', '50', '60']

In [28]:
# ex 4.16
wordList = []
copyWordList = []
wordList.append(input("Enter first word: "))
wordList.append(input("Enter second word: "))
wordList.append(input("Enter third word: "))
for i in range(len(wordList)):
    copyWordList.append(wordList[i])
if copyWordList == wordList.sort():
    print("True")
else:
    print("False")

False

In [29]:
# ex 4.17
message = "The secret of this message is that it is secret"
length = len(message)
count = message.count("secret")
censored = message.replace("secret", "xxxxxx")

In [30]:
censored

'The xxxxxx of this message is that it is xxxxxx'

In [40]:
# ex 4.18
s = '''It was the best of times, it was the worst of times; it
was the age of wisdom, it was the age of foolishness; it was the
epoch of belief, it was the epoch of incredulity; it was...'''

In [41]:
newS = s.replace("."," ")
newS = newS.replace(","," ")
newS = newS.replace(";"," ")
newS = newS.replace("\n"," ")
newS

'It was the best of times  it was the worst of times  it was the age of wisdom  it was the age of foolishness  it was the epoch of belief  it was the epoch of incredulity  it was   '

In [42]:
newS = newS.strip()
newS

'It was the best of times  it was the worst of times  it was the age of wisdom  it was the age of foolishness  it was the epoch of belief  it was the epoch of incredulity  it was'

In [43]:
newS = newS.lower()
newS

'it was the best of times  it was the worst of times  it was the age of wisdom  it was the age of foolishness  it was the epoch of belief  it was the epoch of incredulity  it was'

In [44]:
newS.count("it was")

7

In [45]:
newS = newS.replace("was", "is")
newS

'it is the best of times  it is the worst of times  it is the age of wisdom  it is the age of foolishness  it is the epoch of belief  it is the epoch of incredulity  it is'

In [47]:
listS = newS.split()

In [48]:
# ex 4.20
sender = "tim@abc.com"
recipient = "tom@xyz.org"
subject = "Hello!"

In [49]:
print("From: {}\nTo: {}\nSubject: {}".format(sender, recipient, subject))

From: tim@abc.com
To: tom@xyz.org
Subject: Hello!

In [52]:
# ex 4.21
import math

In [53]:
print("pi = {:.1f}, e = {:.1f}".format(math.pi, math.e))
print("pi = {:.2f}, e = {:.2f}".format(math.pi, math.e))
print("pi = {:.6e}, e = {:.6e}".format(math.pi, math.e))
print("pi = {:.5f}, e = {:.5f}".format(math.pi, math.e))

pi = 3.1, e = 2.7
pi = 3.14, e = 2.72
pi = 3.141593e+00, e = 2.718282e+00
pi = 3.14159, e = 2.71828

In [56]:
# ex 4.22
def month(param):
    monthString = "JanFebMarAprMayJunJulAugSepOctNovDec"

    return monthString[(param-1)*3:param*3]

In [58]:
month(11)

'Nov'

In [61]:
# ex 4.23
def average():
    sentence = input("Enter a sentence: ")
    wordList = sentence.split()
    wordLength = []
    sumLength = 0
    for word in wordList:
        wordLength.append(len(word))
        sumLength = sumLength + len(word)
    
    return sumLength / len(wordList)

In [62]:
average()

5.0

In [83]:
# ex 4.24
def cheer(teamName):
    newName = teamName.upper()
    for i in range(len(teamName)):
        newName = newName.replace(newName[2*i], newName[2*i] + " ")
    print("How do you spell winner?\nI know, I know!\n{}!\nAnd that's how you spell winner!\nGo {}!".format(newName, teamName))

In [84]:
cheer("Huskies")

16
How do you spell winner?
I know, I know!
H U S  K I E S  !
And that's how you spell winner!
Go Huskies!

In [85]:
def cheer(teamName):
    newName = teamName.upper()
    newNameList = list(tuple(newName))
    newName = ""
    for alpha in newNameList:
        newName = newName + alpha + " "
    print("How do you spell winner?\nI know, I know!\n{}!\nAnd that's how you spell winner!\nGo {}!".format(newName, teamName))

In [86]:
cheer("Huskies")

How do you spell winner?
I know, I know!
H U S K I E S !
And that's how you spell winner!
Go Huskies!